body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: 'Geometria', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}