@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style:  normal;
  font-weight: normal;
  src: local('HelveticaNeueCyr'), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style:  normal;
  font-weight: 500;
  src: local('HelveticaNeueCyr'), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style:  normal;
  font-weight: 300;
  src: local('HelveticaNeueCyr'), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
}
