@font-face {
  font-family: 'Geometria';
  font-style:  normal;
  font-weight: normal;
  src: local('Geometria'), url("../fonts/Geometria.woff") format("woff");
}

@font-face {
  font-family: 'Geometria';
  font-style:  normal;
  font-weight: 500;
  src: local('Geometria'), url("../fonts/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Geometria';
  font-style:  normal;
  font-weight: 300;
  src: local('Geometria'), url("../fonts/Geometria-Light.woff") format("woff");
}
