.footer {
  width: 100%;

  padding-top: 40px;
  padding-bottom: 35px;

  display: flex;

  background-color: $first-color;

  @media (min-width: 1360px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__content {
    flex: 1 1 auto;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__logos {
    display: flex;
    margin-bottom: 55px;

    @media (min-width: 768px) {
      width: 420px;
      margin-bottom: 0;
    }
  }

  &__logo {
    max-width: 150px;
    height: 100px;

    @media (min-width: 768px) {
      margin-right: 20px;
    }
    @media (min-width: 1360px) {
      height: 150px;
      margin-top: -10px;
      margin-right: 90px;
    }
  }

  &__logo-m2 {
    max-width: 152px;
    height: 100px;

    @media (min-width: 768px) {
      max-width: 178px;
    }
    @media (min-width: 1360px) {
      height: 132px;
    }
  }

  &__info {
    flex: 0 0 auto;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      align-items: flex-end;
    }
  }

  &__number {
    margin-bottom: 15px;
    font-size: 30px;
  }

  &__callback-btn {
    margin-bottom: 35px;

    @media (min-width: 768px) {
      margin-bottom: 25px;
    }
  }
}