.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  
  width: 100%;
  height: 80px;

  display: flex;
  background-color: transparent;

  transition: height $time-animation-header ease-in, margin-top $time-animation-header $time-animation-header ease-in, background-color $time-animation-header ease-in;

  @media (min-width: 1360px) {
    height: 90px;
    margin-top: 30px;
  }

  &_color {
    background-color: $first-color;
    transition: height $time-animation-header $time-animation-header ease-in, margin-top $time-animation-header ease-in, background-color $time-animation-header $time-animation-header ease-in;

    @media (min-width: 1360px) {
      height: 120px;
      margin-top: 0;
    }

    .header {

      &__logo-wrap {
        transition: width $time-animation-header $time-animation-header ease-in, height $time-animation-header $time-animation-header ease-in;

        @media (min-width: 1360px) {
          width: 150px;
          height: 150px;
        }
      }

      &__logo {
        transition: max-width $time-animation-header $time-animation-header ease-in, max-height $time-animation-header $time-animation-header ease-in;

        @media (min-width: 1360px) {
          max-width: 112px;
          max-height: 112px;
        }
      }

      &__nav {

        &::after {
          opacity: 0;
          transition: opacity $time-animation-header $time-animation-header ease-in;
        }
      }
    }
  }

  &__nav {
    flex: 1 1 auto;
  }

  &__logo-wrap {
    flex: 0 0 auto;

    width: 80px;
    height: 80px;

    margin: 20px 20px 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $first-color;

    transition: width $time-animation-header ease-in, height $time-animation-header ease-in;

    @media (min-width: 768px) {
      margin-left: 50px;
    }
    @media (min-width: 1360px) {
      width: 120px;
      height: 120px;

      margin: 10px 50px 0 85px;
    }
    @media (min-width: 1560px) {
      width: 200px;
      height: 200px;

      margin-right: 70px;
    }
  }

  &__logo {
    max-width: 60px;
    height: 60px;

    transition: max-width $time-animation-header ease-in, max-height $time-animation-header ease-in;

    @media (min-width: 1360px) {
      max-width: 100px;
      height: 100px;
    }
    @media (min-width: 1560px) {
      max-width: 150px;
      height: 150px;
    }
  }
}