include ../mixins/number
include ../mixins/callback-btn
include ../mixins/social-links

footer.footer
  .content.footer__content
    .footer__logos
      a.logo.footer__logo(href='#top')
      a.logo-m2.footer__logo-m2(href='#')
    .footer__info
      +number('footer')
      +callback-btn('footer')
      +social-links('footer')