doctype html
html(lang='ru')
  head
    block head
    include ../global/head
  body
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPNX86G" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    block header
    block content
    block footer

    include ../global/scripts
