include ../mixins/callback-btn

.about-us
  section.content
    h2.title.title_white.title_mb О компании
    .about-us__info
      .about-us__text
        p
          | Glorax Development основана в 2014 году. Компания специализируется на строительстве жилой, коммерческой недвижимости, объектов социальной инфраструктуры. На данный момент портфель проектов насчитывает 2,5 млн кв. м, в активной стадии строительства находится порядка 600 000 кв. м.
          br
          br
          |Каждый из проектов Glorax Development отличается ярким архитектурным решением и неизбежно становится главной точкой притяжения в своей локации. Это особенно ценно при выборе коммерческих помещений, так как гарантирует высокую проходимость и узнаваемость адреса, а также повышает престижность вашего бизнеса.
        +callback-btn('about-us')
      .about-us__items

        -
          items = [
            {
              mod: 'bag',
              title: 'Портфель проектов',
              text: 'более 2 500 000 м² '
            }, {
              mod: 'build',
              title: 'Активное строительство ',
              text: '600 000 м² '
            }, {
              mod: 'top',
              title: 'ТОП-5 застройщиков',
              text: 'Санкт-Петербурга'
            }
          ]

        each item in items
          .about-us__item(class='about-us__item_' + item.mod)
            .about-us__item-title=item.title
            .about-us__item-text=item.text
