include ../mixins/callback-btn

.main-screen
  .swiper-container.main-screen__swiper-container
    .swiper-wrapper
      -
        arrInfo = [{
          img: 'images/slider/slide-1.jpg',
          url: '#ligovsky-2'
        }, {
          img: 'images/slider/slide-1.jpg',
          url: '#ligovsky-1'
        }, {
          img: 'images/slider/slide-1.jpg',
          url: '#golden'
        }, {
          img: 'images/slider/slide-1.jpg',
          url: '#england'
        }, {
          img: 'images/slider/slide-1.jpg',
          url: '#grand'
        }, {
          img: 'images/slider/slide-1.jpg',
          url: '#olymp'
        }, {
          img: 'images/slider/slide-1.jpg',
          url: '#main'
        }, {
          img: 'images/slider/slide-1.jpg',
          url: '#twin'
        }];

      each item, index in arrInfo
        .swiper-slide.main-screen__slide
          .main-screen__img
            img(src=item.img alt=`slide-${index}`)
          .main-screen__wrap
            .main-screen__content
              a.main-screen__link(href=item.url) Перейти к выбору помещений

    section.main-screen__content-fixed
      h2.main-screen__title Коммерческие помещения<br>от застройщика

    .swiper-pagination.main-screen__pagination

  .main-screen__info
    a.logo-m2.main-screen__logo-m2(href='#')

  +callback-btn('main-screen', 'little')
