#modal-send-success.modal.modal_send-success
  .modal__window(data-modal="window")
    button.modal__btn-close(type="button" data-modal="close")
    .modal__body
      h5.modal__title Заявка принята. Мы вам перезвоним
      .modal__check
      button.modal__btn(type="button" data-modal="close") Закрыть
