#modal-callback.modal
  .modal__window(data-modal="window")
    button.modal__btn-close(type="button" data-modal="close")
    h5.modal__title Заказать обратный звонок
    .modal__body
      form.modal__form(data-form)
        p.modal__description Оставьте ваши координаты и наш менеджер свяжется с Вами, чтобы помочь с выбором и ответить на все вопросы.
        input.modal__input(type="text" placeholder="Ваше имя" required data-form='name')
        input.modal__input(type="text" placeholder="Телефон" data-input="tel" required data-form='phone')
        .modal__select
          select(data-form='project_id')
            -
              arrRealEstate = [
                {name: 'Ligovsky city - Второй квартал', value: '1'},
                {name: 'Ligovsky city - Первый квартал', value: '2'},
                {name: 'Golden City', value: '3'},
                {name: 'Английская миля', value: '4'},
                {name: 'Grand House', value: '5'},
                {name: 'Олимп', value: '6'},
                {name: 'Мейн Хаус', value: '7'},
                {name: 'Твин Хаус', value: '8'},
                {name: 'Несколько ЖК', value: 'many'}
              ]

            each obj, index in arrRealEstate
              option(value=obj.value)=obj.name

        input.modal__input(type="text" placeholder="Удобное время" data-form='time')
        p.modal__description
          | Нажимая кнопку «Отправить», Вы подтверждаете свое 
          a.modal__link(href='#')  согласие
          |  на обработку персональных данных
        button.modal__btn(data-send)
          span.modal__btn-text Отправить заявку
          span.loader(data-loader)
            span
            span
            span
            span
        span.modal__error(data-form='error')
