include ../mixins/card-tower

.rooms
  section.content
    h2.title.title_mb Выбор помещений
    .rooms__list

      -
        list = [
          {
            name: 'Ligovsky city - Второй квартал',
            img: 'images/real-estate/1.jpg',
            type: 'Жилой комплекс',
            address: 'Лиговский проспект, 232',
            description: 'Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является',
            classObj: 'Бизнес класс',
            dateEnd: 'III кв. 2020 года',
            metro: 'Обводный канал',
            price: 'от 165 000 ₽',
            url: '#'
          }, {
            name: 'Ligovsky city - Первый квартал',
            img: 'images/real-estate/2.jpg',
            type: 'Жилой комплекс',
            address: 'Лиговский проспект, 271',
            description: 'Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является',
            classObj: 'Бизнес класс',
            dateEnd: 'III кв. 2020 года',
            metro: 'Обводный канал',
            price: 'от 165 000 ₽',
            url: '#'
          }, {
            name: 'Golden City',
            img: 'images/real-estate/3.jpg',
            type: 'Жилой комплекс',
            address: 'ул. Челюскина, 4',
            description: 'Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является',
            classObj: 'Бизнес класс',
            dateEnd: 'III кв. 2020 года',
            metro: 'Обводный канал',
            price: 'от 165 000 ₽',
            url: '#'
          }, {
            name: 'Английская миля',
            img: 'images/real-estate/4.jpg',
            type: 'Жилой комплекс',
            address: 'Петергофское ш., 78',
            description: 'Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является',
            classObj: 'Бизнес класс',
            dateEnd: 'III кв. 2020 года',
            metro: 'Обводный канал',
            price: 'от 165 000 ₽',
            url: '#'
          }, {
            name: 'Grand House',
            img: 'images/real-estate/5.jpg',
            type: 'Жилой комплекс',
            address: 'Тележная ул., 17-19',
            description: 'Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является',
            classObj: 'Бизнес класс',
            dateEnd: 'III кв. 2020 года',
            metro: 'Обводный канал',
            price: 'от 165 000 ₽',
            url: '#'
          }, {
            name: 'Олимп',
            img: 'images/real-estate/6.jpg',
            type: 'Жилой комплекс',
            address: 'МО, г. Хотьково, ул. Михеенко, 25',
            description: 'Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является',
            classObj: 'Бизнес класс',
            dateEnd: 'III кв. 2020 года',
            metro: 'Обводный канал',
            price: 'от 165 000 ₽',
            url: '#'
          }, {
            name: 'Мейн Хаус',
            img: 'images/real-estate/7.jpg',
            type: 'Жилой комплекс',
            address: 'Гражданский проспект, 107',
            description: 'Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является',
            classObj: 'Бизнес класс',
            dateEnd: 'III кв. 2020 года',
            metro: 'Обводный канал',
            price: 'от 165 000 ₽',
            url: '#'
          }, {
            name: 'Твин Хаус',
            img: 'images/real-estate/8.jpg',
            type: 'Жилой комплекс',
            address: 'Будапештская, 2',
            description: 'Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является Ligovsky City – масштабный проект, реализуемый компанией Glorax Development в рамках программы редевелопмента территорий исторического центра Санкт-Петербурга. Все кварталы проекта будут реализованы в рамках единой концепции, предусматривающей создание новой среды с современным жильем, собственной инфраструктурой и комплексным благоустройством территории.\n Первый квартал – знаковый во всех отношениях проект как для компании, так и для Санкт-Петербурга. Это первый жилой комплекс бизнес-класса, который построен в рамках реновации исторического центра города. Но дал новый импульс развития Фрунзенскому району Северной столицы. Собственная инфраструктура, удобная транспортная доступность, жилые и коммерческие помещения бизнес-класса образуют комплекс преимуществ «города в городе». Квартал является',
            classObj: 'Бизнес класс',
            dateEnd: 'III кв. 2020 года',
            metro: 'Обводный канал',
            price: 'от 165 000 ₽',
            url: '#'
          }
        ]

      each item in list
        +card-tower(item)
