.social-links
  a.social-links__link.social-links__link_ig(href='#')
  a.social-links__link.social-links__link_fb(href='#')
  a.social-links__link.social-links__link_vk(href='#')
  a.social-links__link.social-links__link_yt(href='#')