<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KPNX86G');</script>
<!-- End Google Tag Manager -->
meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
meta(name='description', content='')
meta(name='keywords', content='')
link(rel='shortcut icon', type='image/x-icon', href='images/other/favicon.ico')
link(rel='apple-touch-icon', href='images/other/favicon.ico')

//- site title goes here
title= title

//- css
link(rel='stylesheet', type='text/css', href='css/libs.css')
link(rel='stylesheet', type='text/css', href='css/style.css')

<script>var __cs = __cs || [];__cs.push(["setCsAccount", "7es30kf3W0pYQXnhFzhaufXluX7GdGmm"]);</script>
<script async src="https://app.comagic.ru/static/cs.min.js"></script>
