mixin number(className, mod)
  - var cls = className ? `${className}__number` : '';
  - var modCls = mod ? ` ${className}__number_${mod}` : '';

  a.number(href='tel:+78126034343', class=cls + modCls) +7 (812) 603-43-43