mixin social-links(className)
  - var cls = className ? `${className}__social-links` : '';
  .social-links(class=cls)
    a.social-links__link.social-links__link_ig(href='#')
    a.social-links__link.social-links__link_fb(href='#')
    a.social-links__link.social-links__link_vk(href='#')
    a.social-links__link.social-links__link_yt(href='#')